@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Old+Standard+TT:ital@1&display=swap');

html {
  font-family: 'Montserrat';
  background: url(img/teste.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
} 

/* icon login */

.login{
  position: fixed;
  background: transparent;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  color: white;
  right: 5px;
  top: 5px;
}

@media screen and (min-width: 1250px){
  .login{
    color: #4a4a4a;
  }
}

/* barra lateral */

#btn-menu{
  display: none;
}
.container-menu{
  background-color: rgba(128, 128, 128, 0.301) ;
  position: absolute;
  width: 30%;
  left: 0px;
  top: 0px;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  font-weight: 500;
  font-size: 18px;
  transition: var(--transition);
}

#btn-menu:checked ~ .container-menu{
  opacity: 1;
  visibility: visible;
}

.cont-menu{
  width: 100%;
  top: 12%;
  max-width: 300px;
  background: transparent;
  position: relative;
}

.cont-menu nav a{
  display: block;
  text-decoration: none;
  padding: 25px;
  color: #FFFFFF;
  border-right: 5px solid transparent;
  transition: all .04s ease;
}

.cont-menu nav a:hover{
  border-left:5px solid #FFFFFF;
  font-size: 20px;

}

.login:hover{
  color: var(--orange);
}

label{
  position: fixed;
  font-size: 40px;
  left: 15px;
  top: 8px;
  color: #FFFFFF;
  font-weight: 900;
}

@media screen and (max-width: 775px){
  .container-menu{
    display: none;
  }
}

@media screen and (max-width: 775px){
  .btn-menu{
    display: none;
  }
}

h1{
  position: fixed;
	top: 62%;
	left: 50%;
	transform: translate(-50%, -50%);
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
  margin-bottom: 50px;
  font-size: 26px;
  font-weight: 700;
 
}

h2{
  position: fixed;
	top: 67%;
	left: 50%;
	transform: translate(-50%, -50%);
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
  margin-bottom: 50px;
  font-size: 25px;
  font-weight: 700;
}

@media screen and (max-width: 665px){
  h1{
    top: 17%;
    color: black;
    font-weight: 900;
  }

  h2{
    top: 25%;
    color: black;
    font-weight: 900;
  }
}

@media screen and (max-width: 450px){
  h1{
    top: 10%;
    color: black;
    font-weight: 900;
  }

  h2{
    top: 25%;
    color: black;
    font-weight: 900;
  }
}

.home-button{
  color: white;
  position: absolute;
  background-color: transparent;
  border: 2px solid white;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 40px;
  font-size: 22px;
}

.home-button:hover{
  color: var(--orange);
  border: 2px solid var(--orange);
  background-color: transparent;
}